.visitcontainer {
  background-color: #262b39;
  width: 281px;
  padding-bottom: 50px;
}
.nomo {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: white;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 72px;
  padding-top: 25px;
}
