@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.visitblock {
  background-color: #262b39;
  color: white;
  width: 280px;
  height: 80px;
  align-items: center;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 51.5px 228.5px;
  grid-template-rows: 25px 25px 30px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* margin-bottom: 10px; */
}

.circleBlock {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  padding-left: 15.16px;
  padding-top: 22.36px;
}
.circle {
  width: 35px;
  height: 35px;
  margin: 0 auto;
  background-color: #3f3f4b;
  border-radius: 50%;
  text-align: center;
  vertical-align: center;
  line-height: 37px;
  font-size: 12px;
}
.nametime {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
}
.time {
  margin-left: auto;
  padding-right: 19px;
  font-size: 11px;
  padding-top: 31.4px;
}
.namename {
  margin-right: auto;
  padding-left: 10px;
  font-size: 14px;
  padding-top: 29.9px;
}
.number {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  margin-right: auto;
  padding-left: 8px;
  color: #7d8088;
  font-size: 13px;
  padding-top: 17px;
}
.buttons {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: center;
}
.buttonsthing {
  background: none;
  color: red;
  outline: 0;
  cursor: pointer;
  border: 0;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 17px;
}
.buttonsitself {
  background: none;
  color: white;
  outline: 0;
  cursor: pointer;
  border: 0;
  font-size: 12px;
}

.teachersection {
  display: flex;
  align-items: center;
  font-size: 13px;
  padding-left: 16px;
  padding-top: 12px;
}
.teachern {
  margin-left: auto;
  padding-left: 3px;
  color: #7f7f8b;
}
.line {
  border-bottom: solid;
  border-color: white;
  margin-top: 16px;
  width: 127px;
  border-width: 1px;
  border-color: #323345;
  display: flex;
  /* margin-left: auto;
  margin-right: auto; */
  padding-left: 120px;
  margin-left: 17px;
}

.sticktest {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  color: red;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
}
.createMode {
  background-color: #262b39;
  color: white;
  width: 280px;
  height: 130px;
  align-items: center;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 51.5px 228.5px;
  grid-template-rows: 25px 25px 30px 50px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.editMode {
  background-color: #262b39;
  color: white;
  width: 280px;
  height: 130px;
  align-items: center;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 51.5px 228.5px;
  grid-template-rows: 25px 25px 30px 50px;
  padding: 0;
  font-family: 'Roboto', sans-serif;

  /* margin-bottom: 10px; */
}
.editNode {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  font-family: 'Roboto', sans-serif;
}

.editHidden {
  display: none;
}
.visithidden {
  display: none;
}
.editlabel {
  color: #ff7a00;
  font-size: 13px;
}
.createlabel {
  color: green;
  font-size: 13px;
}
.editMain {
  font-size: 12px;
  padding: 16px;
  display: inline;
  flex-direction: row;
}
.buttonsSection {
  display: inline;
  flex-direction: row;
}

.editMain button {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  color: white;
  outline: 0;
  border: 0;
  font-size: 12px;
  margin-left: 5px;
  cursor: pointer;
}
