html,
body {
  margin: 0;
  background-color: #e5e5e5;
}
.addclientContainer {
  background-color: #262b39;
  width: 278px;
  color: white;
  font-family: 'Roboto', sans-serif;
  float: left;
}
.visits {
  float: right;
}
.addclientInfo {
  background-color: #282a37;
  display: grid;
  grid-template-rows: 50px, 50px, 50px, 50px;

  width: 278px;

  align-items: center;

  margin-left: auto;
  margin-right: auto;

  padding: 1.5px;
  font-family: 'Roboto', sans-serif;
}
.addName {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  padding-bottom: 5px;
}
.addName input {
  background-color: #3f3f4b;
  border: 0;
  color: white;
  margin-left: auto;
}
.addSurname {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  padding-bottom: 5px;
}
.addSurname input {
  background-color: #3f3f4b;
  border: 0;
  color: white;
  margin-left: auto;
}
.addNumber {
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  padding-bottom: 5px;
}
.addNumber input {
  background-color: #3f3f4b;
  border: 0;
  color: white;
  margin-left: auto;
}
.addButton {
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  padding-bottom: 5px;
  background-color: #282a37;
  border: 0;
  color: white;
  margin-left: auto;
  padding-top: 5px;
  padding-right: 12px;
  padding-left: 12px;
}
.addButton button {
  background: none;
  outline: 0;
  border: 0;
  color: white;
}
.line {
  border-bottom: solid;
  border-color: white;
  margin-top: 15px;
  width: 300px;
  border-width: 1px;
  border-color: #323345;
}
