@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.dcontainer {
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: #262b39;
  height: 30px;
  line-height: 30px;
}
.dayandmonth {
  left: 50%;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 12px;
  padding-top: 0;
}
.boldt {
  font-weight: bold;
}
.createButton {
  position: absolute;
  left: 300px;
  top: 350px;
}
